  <%= form_for(@user) do |f| %>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
        </h2>

        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="sign-up small-4 large-7 columns">

      <h1 class="text-center">Sign Up with Karma</h1>

      <%= f.label :user_name, "User Name*" %>
      <%= f.text_field :user_name, :placeholder =>  "e.g. handyman123" %>

      <%= f.label :image_url, "Profile Image URL" %>
      <%= f.text_field :image_url, :placeholder => "e.g http://i.imgur.com/3gaud8r.png", :value => "http://i.imgur.com/3gaud8r.png" %>

      <%= f.label :email, "Email*" %>
      <%= f.text_field :email, :placeholder => "e.g. handyman123@gmail.com" %>

      <%= f.label :password, "Password*" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password*" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Sign Up", class: "button expand" %>

    </div>


<% end %>

