<div class="sign-up-form">
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
        </h2>

        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="small-4 large-7 columns">
      <div class="sign-up">
        <h1 class="text-center">Sign Up with Karma</h1>
        <%= f.label :user_name, "User Name*" %><br>
        <%= f.text_field :user_name, :value =>  "e.g. handyman123" %><br>

        <%= f.label :image_url, "Profile Image URL" %><br>
        <%= f.text_field :image_url, :value => "e.g. http://i.imgur.com/3gaud8r.png" %><br>

        <%= f.label :email, "Email*" %><br>
        <%= f.text_field :email, :value => "e.g. handyman123@gmail.com" %><br>

        <%= f.label :password, "Password*" %><br>
        <%= f.password_field :password %><br>

        <%= f.label :password_confirmation, "Confirm Password*" %><br>
        <%= f.password_field :password_confirmation %><br>

        <%= f.submit "Sign Up", class: "button expand" %>
    </div>

  <% end %>
</div>
