<h1>Editing user</h1>

<div class="edit_profile_wrapper">
  <h1>Edit Profile</h1>
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="field">
    <%= f.label :user_name, "User Name*" %><br>
    <%= f.text_field :user_name %><br><br>

    <%= f.label :name, "Name*" %><br>
    <%= f.text_field :name %><br><br>

    <%= f.label :email, "Email*" %><br>
    <%= f.text_field :email %><br><br>

    <%= f.label :password, "Password*" %><br>
    <%= f.password_field :password %><br><br>

    <%= f.label :password_confirmation, "Confirm Password*" %><br>
    <%= f.password_field :password_confirmation %><br><br>
  </div>
  <div class="field">
    <%= f.label :location, "Location*" %><br>
    <%= f.text_field :location, :value => "e.g. New York, NY" %><br><br>

    <%= f.label :image_url, "Profile Image URL" %><br>
    <%= f.text_field :image_url %><br><br>
      <%= f.label :skills, "Skills" %>
      <div id="skills_field">
        <%= f.text_field :skills %>
        <td id="add_text_field">Add additional skills</td>
      </div><br><br>
    <%= f.label :profile, "Profile" %><br>
    <%= f.text_area :profile %><br><br>
  </div><br>

  <div id="save button">
    <%= f.submit "Save" %><br>
  </div>

<% end %>
</div><!-- edit_profile_wrapper -->


<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
