  <div id="members_wrapper">
      <div class="members">
        <h1>Our Members</h1>
            <table>
                <tr>
                  <th>Avatar</th>
                  <th>User Name</th>
                  <th>Name</th>
                  <th>Karma Points</th>
                  <th>Location</th>
                  <th>Skills</th>
                </tr>

                <% @users.each do |user| %>
                  <tr>
                      <td> <img src=" <%= user.image_url %>" width="75px" alt="<%= user.name %>"></td>
                      <td><%= link_to user.user_name, user_path(user) %></td>
                      <td><%= user.name %></td>
                      <td><%= user.points %> pts.</td>
                      <td><%= user.location %></td>
                      <td><%= user.skills %></td>
                  </tr>
                <% end %>
            </table>


    </div><!-- members -->
  </div><!-- members wrapper   -->
