<div class="profile_show small-4 large-7 columns">

      <p id="notice">
        <%= notice %>
      </p>

      <div class="user_pic">
      <%= link_to image_tag @user.image_url %>
      </div>

      <h1><%= @user.user_name %> - (<%= @user.points %> Points)</h1>
      <h2><%= @user.name %> - <%= @user.location %></h2>

      <p><%= @user.profile %></p>
      <p><%= @user.skills %></p>

      <!-- shows all the users postings on their profile page -->
      <% @user.posts.each do |post| %>
       <%= link_to post.title, post_path(post) %>,
       (<%= post.karma_value %> Karma Points) <br>
       <% end %>

      <% if @user == current_user %>
      	<%= link_to 'Edit', edit_user_path(@user), class: "button" %>
      <% end %>
</div>
