<% if logged_in? %>

  <% if current_user.is_admin %>
    <strong>Admin things</strong>:
  <% end %>
<div id="dashboard_wrapper">
  <div id="dashboard">
    <h2>New Posts In My Area</h2>
      <% @local_posts.each do |post| %>
        <% if post.is_open %>
          <p><%= post.title %> - (<%= post.karma_value %> pts) <%= link_to "(view post)", post_path(post) %></p>
        <% end %>
      <% end %>

    <h2>My open posts</h2>
      <% @open_posts.each do |post| %>
        <p><%= link_to post.title, post_path(post) %> (<%= post.karma_value %> pts) <button class="close">Close Post</button></p>
      <% end %>
  </div>

  <div id="profile">
    <h1>My Profile <%= link_to "(edit)", edit_user_path(current_user) %></h1>
    <%= image_tag current_user.image_url %><%= current_user.name %> (<%= current_user.points %> points) - <%= current_user. location %>
    <p><%= current_user.profile %></p>
    <p><%= current_user.skills %></p>

    <h2>My Exchanges</h2>
    <% @transactions.each do |transaction| %>
      <h3><%= Post.find_by(id: transaction.post_id).title %> - <%= Post.find_by(id: transaction.post_id).karma_value %>
      <% if transaction.is_complete %>
        - Completed!
      <% else %>
        - Open
      <% end %></h3>

      <% if (current_user.id == transaction.requester_id && !transaction.requester_complete) ||
          (current_user.id == transaction.servicer_id && !transaction.servicer_complete) %>
        <button class="complete">Mark As Completed</button>
      <% else %>
        <strong>Confirmation Pending</strong>
      <% end %>
    <% end %>
  </div> <!-- profile wrapper -->
</div> <!-- dashboard wrapper -->

<% else %>
  <div id="karma_app_wrapper">
    <ul id="karma_app_steps">
    <h1 id="get_started">Get Started</h1>
      <li class="steps">Open a Karma Account</li>
      <li class="steps">Help someone out and earn some karma</li>
      <li class="steps">Feel good about yourself being an awesome person</li>
      <li class="steps">Spend some Karma and get help from someone else</li>
      <li class="steps">Repeat Steps 2 - 5 and be a happy person!</li>
    </ul>
  </div><!-- karma app wrapper -->
<% end %>
