<% if logged_in? %>

  <% if current_user.is_admin %>
    <strong>Admin things</strong>:
  <% end %>

<div id="dashboard">
  New posts in my area
  My open posts
  My exchanges in progress
</div>

<div id="profile">
  <h1>My Profile <%= link_to "(edit)", edit_user_path(current_user) %></h1>
  <%= image_tag current_user.image_url %><%= current_user.name %> (<%= current_user.points %> points) - <%= current_user. location %>

</div>

<% else %>
<div id="karma_app_wrapper">
  <ul id="karma_app_steps">
  <h1 id="get_started">Get Started</h1>
    <li class="steps">Open a Karma Account</li>
    <li class="steps">Help someone out and earn some karma</li>
    <li class="steps">Feel good about yourself being an awesome person</li>
    <li class="steps">Spend some Karma and get help from someone else</li>
    <li class="steps">Repeat Steps 2 - 5 and be a happy person!</li>
  </ul>
</div><!-- karma app wrapper -->

<% end %>
