<div id="posts_wrapper">
  <div class="posts">

    <h1 id="posts_header">Here's What's Happening In Our Community</h1>
    <button id="show_requests">Show Requests</button>
    <button id="show_offers">offers</button>
    <div id="offers">
      <h1>Offers</h1>
      <% @offers.each do |post| %>

      <div class="post">
        <%= link_to image_tag post.image_url %>
        <%= link_to post.title, post_path(post) %>
        (<%= post.karma_value %> Karma Points)
        <% if current_user && (current_user.is_admin || current_user.id == post.user_id) %>
        <% end %>
      </div>

      <% end %>
    </div>

    <div id="requests">
      <h1>Requests</h1>
      <% @requests.each do |post| %>

      <div class="post">
        <%= link_to image_tag post.image_url %>
        <%= link_to post.title, post_path(post) %>
        (<%= post.karma_value %> Karma Points)
        <% if current_user && (current_user.is_admin || current_user.id == post.user_id) %>
        <% end %>
      </div>

      <% end %>
    </div>

  </div><!-- posts -->
</div><!-- posts wrapper   -->





