<div id="posts_wrapper">
  <div class="posts">

    <h1>Listing Posts</h1>

    <table>
      <tr>
        <th>Title</th>
        <th>Description</th>
      </tr>

      <% @posts.each do |post| %>
        <tr>
          <td><%= link_to post.title, post_path(post) %></td>
          <td><%= post.content %></td>
          <td><%= link_to image_tag post.image_url %></td>
          <td><%= post.post_type %></td>
              <% if current_user && (current_user.is_admin || current_user.id == post.user_id) %>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= button_to 'Delete',  { action: "destroy", id: post.id }, method: :delete %></td>
            <% end %>
        </tr>
      <% end %>
    </table>
  </div><!-- posts -->
</div><!-- posts wrapper   -->





