<h1>Listing Posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

  <!-- below has the post title and content be links, may want to change content being a link to just plain text later? -->
  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post_path(post) %></td>
      <td><%= link_to post.content, post_path(post) %></td>
      <td><img src=<%= post.image_url %>>
      <td><%= post.type %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post_path(post), method: :delete %></td>
      <!-- still need to get delete working!!!!!! -->
    </tr>
  <% end %>
</table>


