<h2>Add Your Posting</h2>
<%= form_for :post, url: posts_path do |f| %>
  <% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> kept
      this posting from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :image_url, "Add an image..." %><br>
    <%= f.text_field :image_url %>
  </p>

<%= radio_button_tag(:type, "I'm offering services") %>
<%= label_tag(:type, "I'm offering services") %>
<%= radio_button_tag(:type, "I'm requesting services") %>
<%= label_tag(:type, "I'm requesting services") %>

<%= link_to 'Back', posts_path %>

  <p>
    <%= f.submit %>
  </p>
<% end %>







