  <div class="post_listing">

    <h1><%= @post.title %> (<%= @post.post_type %>)</h1>

    <div class="user_pic">
      <img src=<%= @post.image_url %>>
    </div>

    <p><%= @post.content %></p>

    <% if logged_in? %>
      <%= form_tag("/transactions", method: "post") do %>
        <%= hidden_field_tag(:post_id, params[:id]) %>
        <%= submit_tag("Sounds awesome, sign me up!") %>
      <% end %>
    <% end %>

    <% if current_user == @post.user_id %>
      <%= link_to 'Edit', edit_post_path(@post) %>
      <%= button_to 'Delete',  { action: "destroy", id: @post.id }, method: :delete %>
    <% end %>
    <h2>Responses</h2>
      <% @post.comments.each do |comment| %>
        <p>
          <strong>Comment:</strong>
          <%= comment.text %>
        </p>
        <p>Author: <%= User.find_by(comment.user_id).user_name %></p>

        <% if current_user && (comment.user_id == current_user.id) %>
          <%= link_to 'Edit', edit_post_comment_path(@post, comment) %>
          <%= button_to('Delete Comment', post_comment_path(@post, comment), method: :delete) %>
        <% end %>
      <% end %>


  </div><!-- post_listing -->
</div><!-- post_listing_wrapper  -->

