<div id="post_listing_wrapper">
  <div class="post_listing">
    <h2>Posts</h2>

    <p>
      <strong>Title:</strong>
      <%= @post.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @post.content %>
    </p>

    <p>
      <%= @post.post_type %>
    </p>
    <p>
      <img src=<%= @post.image_url %>>
    </p>

    <%= link_to 'Edit', edit_post_path(@post) %>
    <%= button_to 'Delete',  { action: "destroy", id: @post.id }, method: :delete %>
    <!--ex from docs:  link_to "Profile", controller: "profiles", action: "show", id: @profile -->
    <%= form_tag("/transactions", method: "post") do %>
      <%= hidden_field_tag(:post_id, params[:id]) %>
      <%= submit_tag("Sounds awesome, sign me up!") %>
    <% end %>
  </div><!-- post listing -->
</div><!-- post_listing_wrapper  -->

<div id="response_wrapper">
  <div class="response">
  <h2>Responses</h2>
  <% @post.comments.each do |comment| %>
    <p>
      <strong>Comment:</strong>
      <%= comment.text %>
    </p>
<% end %>

<h2>Add a comment:</h2>
 <%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </p>
   <p>
    <%= f.submit %>
  </p>
  <% end %>

  <!-- # button_to 'Delete Comment', { action: "destroy", id: comment.id} method: :delete  -->

  </div><!-- response -->
</div><!-- response_wrapper -->







