<div id="post_listing_wrapper">
  <div class="post_listing">
      <h2>Posts</h2>

      <p>
        <strong>Title:</strong>
        <%= @post.title %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @post.content %>
      </p>

      <p>
        <%= @post.post_type %>
      </p>
      <div class="user_pic">
      <p>
        <img src=<%= @post.image_url %>>
      </p>
    </div><!-- user pic -->
      <%= link_to 'Edit', edit_post_path(@post) %>
      <%= button_to 'Delete',  { action: "destroy", id: @post.id }, method: :delete %>
      <!--ex from docs:  link_to "Profile", controller: "profiles", action: "show", id: @profile -->
      <%= form_tag("/transactions", method: "post") do %>
        <%= hidden_field_tag(:post_id, params[:id]) %>
        <%= submit_tag("Sounds awesome, sign me up!") %>
      <% end %>


    <h2>Responses</h2>
    <% @post.comments.each do |comment| %>
      <p>
        <strong>Comment:</strong>
        <%= comment.text %>
      </p>
  <% end %>
  </div>response_wrapper

  <h2>Add a comment:</h2>
   <%= form_for([@post, @post.comments.build]) do |f| %>
  <h1><%= @post.title %> - <%= @post.post_type %> - (<%= @post.karma_value %> Points)</h1>
  <h2><%= @user.user_name %> - <%= @user.location %></h2>
  <%= image_tag @post.image_url %>

  <p><%= @post.content %></p>
  <% end %>


  <% if current_user && (current_user.id == @user.id) %>
    <%= link_to 'Edit', edit_post_path(@post) %>
    <%= button_to 'Delete',  { action: "destroy", id: @post.id }, method: :delete %>
  <% end %>
  <h2>Responses</h2>
  <% if @post.comments %>
    <% @post.comments.each do |comment| %>

       <p>
          <strong>Comment:</strong>
          <%= comment.text %>
          <strong>Comment Author:</strong>
          <%= comment.user.try(:name) %>
      </p>
      <% if current_user && (comment.user_id == @user.id) %>
        <%= link_to 'Edit', edit_post_comment_path(@post, comment) %>
        <%= button_to('Delete Comment', post_comment_path(@post, comment), method: :delete) %>
      <% end %>

    <% end %>

  <% end %>




      <%= link_to 'Back to Postings', posts_path %>

  </div><!-- post_listing -->
</div><!-- post_listing_wrapper -->
