<div id="post_listing_wrapper">
  <div class="post_listing">
    <h2>Posts</h2>

    <p>
      <strong>Title:</strong>
      <%= @post.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @post.content %>
    </p>

    <p>
      <%= @post.post_type %>
    </p>
    <p>
      <img src=<%= @post.image_url %>>
    </p>

    <%= link_to 'Edit', edit_post_path(@post) %>
    <%= button_to 'Delete',  { action: "destroy", id: @post.id }, method: :delete %>
  </div><!-- post listing -->
</div><!-- post_listing_wrapper  -->

<div id="response_wrapper">
  <div class="response">
  <h2>Responses</h2>
  <% @post.comments.each do |comment| %>

   <p>
      <strong>Response:</strong>
      <%= comment.text %>
    </p>

     <%= button_to('Delete Comment', post_comment_path(comment.post, comment),
                 method: :delete) %>

  <% end %>

  <%= link_to 'Back to Postings', posts_path %>
  </div><!-- response_wrapper -->
</div><!-- response -->





