<div id="post_listing_wrapper">
  <div class="post_listing">
    <h2>Posts</h2>

    <p>
      <strong>Title:</strong>
      <%= @post.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @post.content %>
    </p>

    <p>
      <%= @post.post_type %>
    </p>

      <div class="user_pic">

          <img src=<%= @post.image_url %>>

      </div><!-- user_pic -->

    <%= link_to 'Edit', edit_post_path(@post) %>
    <%= button_to 'Delete',  { action: "destroy", id: @post.id }, method: :delete %>
    <!--ex from docs:  link_to "Profile", controller: "profiles", action: "show", id: @profile -->
    <%= form_tag("/transactions", method: "post") do %>
      <%= hidden_field_tag(:post_id, params[:id]) %>
      <%= submit_tag("Sounds awesome, sign me up!") %>
    <% end %>

  <h2>Responses</h2>
  <% @post.comments.each do |comment| %>
    <p>
      <strong>Response:</strong>
      <%= comment.text %>
    </p>
<% end %>

<h2>Add a response:</h2>
 <%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </p>
   <p>
    <%= f.submit "Respond" %>
  </p>
  <% end %>

  </div><!-- post_listing -->
</div><!-- post_listing_wrapper -->







