<div id="banner_wrapper">
<ul id="banner">
<% if logged_in? %>
		<li class="banner_element">Welcome <%= link_to current_user.user_name, user_path(current_user) %> (<%= current_user.points %> points)</li>
    <li class="banner_element"><%= link_to "Add a new post!", new_post_path %></li>
    <li class="banner_element"><%= link_to "Logout", logout_path %></li>
	<% else %>
		<li class="banner_element"><%= link_to "Sign Up", new_user_path %></li>
    <li class="banner_element">    |  </li>
		<li class="banner_element"><%= link_to "Sign In ", login_path %></li>
	<% end %>
</ul>
</div>
