<nav class="top-bar" data-topbar>

  <ul class="title-area">
    <li class="name">
      <h1><a href="/"><img src="http://i.imgur.com/vMScxcg.png"></a></h1>
    </li>
  </ul>

  <section class="top-bar-section">

    <ul class="right">
      <% if logged_in? %>

        <li class="has-dropdown">
          <a href="#"><%= link_to current_user.user_name, user_path(current_user) %></a>
          <ul class="dropdown">
            <li><%= link_to "#{current_user.points} Points", new_points_transfer_path %></li>
            <li><%= link_to "Profile", user_path(current_user) %></li>
          </ul>
        </li>

    		<li class="banner_element"><%= link_to "Add a new post!", new_post_path %></li>
    		<li class="banner_element"><%= link_to "Logout", logout_path %></li>
    	<% else %>
    		<li class="banner_element"><%= link_to "Sign Up", new_user_path %></li>
    		<li class="banner_element"><%= link_to "Sign In ", login_path %></li>
    	<% end %>
    </ul>

  </section>

</nav>
