<!DOCTYPE html>
<html>
<head>
  <title>Karma</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
        <div class="top-content">
          <div class="logo">
          <a href="/"><img src="http://i.imgur.com/vMScxcg.png"></a>
        </div><!-- logo -->
          <%= render 'banner' %>
            <div class="background">
              <%= render 'sidebar' %>
      </div> <!-- top-content -->


  <%= yield %>
        </div><!-- background -->


  </body>
</html>


