<!DOCTYPE html>
<html>
<head>
  <title>Karma</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
        <div class="top-content">
  <h1 id="title"><a href="/"><img src="http://i.imgur.com/vMScxcg.png"></a></h1>
          <%= render 'banner' %>
            <div class="background">
              <%= render 'sidebar' %>
      </div> <!-- top-content -->


  <%= yield %>
        </div><!-- background -->


    </div> <!-- wrapper -->
  </body>
</html>


