<!DOCTYPE html>
<html>
<head>
  <title>KarmaApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'application' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
      <div class="top-container">
        <div class="top-content generic-content">

	<%= render 'banner' %>
  <%= render 'sidebar' %>

      </div> <!-- top-content -->
    </div><!-- top-container -->



<!--      <%# flash.each do |name, msg| -%>
      <%#= content_tag :div, msg, class: name %>
    <%# end -%>

    <%# flash.each do |key, msg| %>
  <%#= content_tag :div, msg, :id => key %>
<%# end %>

<%#= unless flash[:notice].nil? %>
<div id="notice"><%#= flash[:notice] %></div>
<%# end %>

<%# if flash[:error] %>
    <div class="error"><%#= flash[:error] %></div>
<%# end %> -->


<%= yield %>


    </div> <!-- wrapper -->
  </body>
</html>


